#google_translate_element
    script().
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'es', includedLanguages: 'en,es,pt,qu', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay: false}, 'google_translate_element');
        }
    script(src='//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit')
