div.container
    div.columns
        div.column.col-2.col-sm-12

            a(href="/")
                img.logo1.img-responsive(src="../images/logo1.png", alt="Logo")

        div.column.col-10.col-sm-12

            ul.tab.tab-block
                li.tab-item
                    a(href='/localBusiness') Casa
                li.tab-item
                    a(href='/upload') Subir
                li.tab-item.active
                    a(href='/business') Negocios
                li.tab-item
                    a(href='/explore') Explore Nuevos Mercados
