div.container
    div.columns
        div.column.col-12

            ul.tab.tab-block
                li.tab-item
                    a(href="/")
                        img.logo1(src="../images/logo1.png", alt="Logo")

                li.tab-item
                    a(href='/localBusiness') Casa
                li.tab-item.active
                    a(href='/upload') Subir
                li.tab-item
                    a(href='/business') Negocios
                li.tab-item
                    a(href='/explore') Explore Nuevos Mercados
                li.tab-item
                    include spanish.pug



