div.container
    div.columns
        div.column.col-12

            ul.tab.tab-block
                li.tab-item
                    a(href="/index")
                        img.logo1(src="../images/logo1.png", alt="Logo")

                li.tab-item
                    a(href='/localBusiness') Home
                li.tab-item.active
                    a(href='/upload') Upload
                li.tab-item
                    a(href='/business') Business
                li.tab-item
                    a(href='/explore') Explore New Markets
