div.container
    div.columns
        div.column.col-12

            ul.tab.tab-block
                li.tab-item
                    a(href="/") Casa
                li.tab-item
                    a(href='/localBusiness') Negocio Local
                li.tab-item
                    a(href='/upload') Subir
                li.tab-item
                    a(href='/business') Negocios
                li.tab-item.active
                    a(href='/explore') Explore Nuevos Mercados

