div.container
    div.columns
        div.column.col-12.tablist
            ul.tab.tab-block.inner
                li.tab-item
                    a(href='/') Home
                li.tab-item
                    a(href='/tourist') Tourists
                li.tab-item.active
                    a(href='/hottest') Hottest
                li.tab-item
                    a(href='/attractions') Attractions
                li.tab-item
                    a(href='/hotels') Hotel
