div.container
    div.columns
        div.column.col-12
            ul.tab.tab-block
                li.tab-item
                    a(href="/")
                        img.logo1(src="../images/logo1.png", alt="Logo")
                li.tab-item
                    a(href='/tourist') Home
                li.tab-item.active
                    a(href='/hottest') Hottest
                li.tab-item
                    a(href='/attractions') Attractions
                li.tab-item
                    a(href='/hotels') Hotel