doctype html
html(lang="en")
    head
        include includes/head.pug
        script(src="../scripts/main.js" defer)

    body.background
        div.container#passCodeDiv.centerPasccode
            div.columns
                div.col-4.col-sm-12
                div.col-4.col-sm-12
                    div.card.clearfix
                        div.columns
                            div.col-1.col-sm-12
                            div.col-10.col-sm-12
                                div.card-header
                                    div.card-title.h5 Ingrese su contraseña:
                                div.card-body
                                    input.form-input(type="text" id="passCode" placeholder="Contraseña" autofocus)
                                    p Si tiene una empresa local, vaya a un cibercafé cercano para obtener el código de acceso.
                                div.card-footer
                                    a.btn(onclick="window.history.back()" aria-label="Go Back button").text-light Regresa


                            div.col-1.col-sm-12
                div.col-4.col-sm-12
