doctype html
html(lang="en")
    head

        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" type="text/css" href="../styles/spectre.min.css")
        link(rel="stylesheet" type="text/css" href="../styles/style.css")
        link(rel="stylesheet" type="text/css" href="../styles/spectre.icon.css")
        script(src="../scripts/loadingBusiness.js" defer type="text/javascript" )
        title #{ title }


    body
        div.container
            div.columns
                div.column.col-12
                    include includes/tabLBusiness
        div.container
            div.columns
                div.column.col-12
                    div.card.my-2
                        div.columns.col-sm-12
                            div.column.col-2.col-sm-12(class="imagecolumn")
                                div.card-image.fillParentDiv
                                    img(src="../images/smallerCycling.png", alt="Cycling").img-responsive.fillParentDivForImage
                            div.column.col-7.col-sm-12#testRead
                                div.card-body#secondTest
                                    button.btn.btn-primary#JsonButton Testing Loading Json
                                    p Owner Name:
                                        b
                                    p Owner Business Name:
                                        b
                                    p Business Type:
                                        b
                                    p Business Description:
                                        b

                            div.column.col-3
                                div.card-body
                                    p
                                        b Number of Clicks:
                                        |
                                    b Rating :
                                        p
                                        form-input.star-rating(method="post" action='/rating')
                                            input#star5(type='radio' name='rate' value='5')
                                            label(for='star5' title='text') 5 stars
                                            input#star4(type='radio' name='rate' value='4')
                                            label(for='star4' title='text') 4 stars
                                            input#star3(type='radio' name='rate' value='3')
                                            label(for='star3' title='text') 3 stars
                                            input#star2(type='radio' name='rate' value='2')
                                            label(for='star2' title='text') 2 stars
                                            input#star1(type='radio' name='rate' value='1')
                                            label(for='star1' title='text') 1 star

                                                input(hidden, value='')
