doctype html
html(lang="en")
    head
        include includes/head.pug

    body.background
        div.container
            div.columns
                div.column.col-12
                    h3.header Emergency details
                    include includes/tabT.pug


