doctype html
html(lang="en")
    head
        include includes/head.pug

    body
        div.container
            div.columns
                div.column.col-12
                    include includes/tabT.pug