doctype html
html(lang="en")
    head

        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" type="text/css" href="../styles/spectre.min.css")
        link(rel="stylesheet" type="text/css" href="../styles/style.css")
        link(rel="stylesheet" type="text/css" href="../styles/spectre.icon.css")
        title #{ title }

    body
        div.container
            div.columns
                div.column.col-12
                    include includes/tabLExplore.pug
                h3 Explorable markets
                div.container
                    div.column.col-8.my-2
                        div.card
                            div.columns
                                div.column.col-3
                                    div.card-image
                                        img(src="../images/smallerCycling.png", alt="Cycling").img-responsive
                                div.column.col-6
                                    div.card-body
                                        h6 Industry Type : Cycling
                                        h6 Description:
                                        h6 Plausible revenue:
                    div.column.col-4

                div.container
                    div.column.col-8.my-2
                        div.card
                            div.columns
                                div.column.col-3
                                    div.card-image
                                        img(src="../images/finaltrekking.jpg", alt="Trekking").img-responsive
                                div.column.col-6
                                    div.card-body
                                        h6 Industry Type : Trekking
                                        h6 Description:
                                        h6 Plausible revenue:
                    div.column.col-4

                div.container
                div.column.col-8.my-2
                    div.card
                        div.columns
                            div.column.col-3
                                div.card-image
                                    img(src="../images/birdwatching.jpg", alt="Bird watching").img-responsive
                            div.column.col-6
                                div.card-body
                                    h6 Industry Type : Bird Watching
                                    h6 Description:
                                    h6 Plausible revenue:
                div.column.col-4


