doctype html
html(lang="en")
    head

        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" type="text/css" href="../styles/spectre.min.css")
        link(rel="stylesheet" type="text/css" href="../styles/style.css")
        link(rel="stylesheet" type="text/css" href="../styles/spectre.icon.css")
        title #{ title }

    body
        div.container
            div.columns
                div.column.col-12
                    include includes/tabLExplore.pug
                h3 Mercados explorables
                div.container
                    div.column.col-8.my-2
                        div.card
                            div.columns
                                div.column.col-3
                                    div.card-image
                                        img(src="../images/smallerCycling.png", alt="Cycling").img-responsive
                                div.column.col-6
                                    div.card-body
                                        h6 Tipo de industria: Ciclismo
                                        h6 Descripci贸n:
                                        h6 Ingresos plausibles::
                    div.column.col-4

                div.container
                    div.column.col-8.my-2
                        div.card
                            div.columns
                                div.column.col-3
                                    div.card-image
                                        img(src="../images/finaltrekking.jpg", alt="Trekking").img-responsive
                                div.column.col-6
                                    div.card-body
                                        h6 Tipo de industria: Trekking
                                        h6 Descripci贸n:
                                        h6 Ingresos plausibles:
                    div.column.col-4

                div.container
                div.column.col-8.my-2
                    div.card
                        div.columns
                            div.column.col-3
                                div.card-image
                                    img(src="../images/birdwatching.jpg", alt="Bird watching").img-responsive
                            div.column.col-6
                                div.card-body
                                    h6 Tipo de industria: Observaci贸n de aves
                                    h6 Descripci贸n:
                                    h6 Ingresos plausibles:
                div.column.col-4


