doctype html
html(lang="en")
    head

        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" type="text/css" href="../styles/spectre.min.css")
        link(rel="stylesheet" type="text/css" href="../styles/style.css")
        link(rel="stylesheet" type="text/css" href="../styles/spectre.icon.css")
        title #{ title }

    body
        div.container
            div.columns
                div.column.col-12
                    include includes/tabLExplore.pug
                h3 Explorable markets
                div.container
                div.column.col-8
                    div.card
                    div.column.col-3.col-sm-12.my-2
                        div.card-image
                            img(src="../images/smallerCycling.png", alt="Cycling").img-responsive
                        div.card-body
                            h6 Industry Type : Cycling
                            h6 Description:
                            h6 Plausible revenue:
                div.column.col-4

                div.container
                div.column.col-8
                    div.card
                    div.column.col-3.col-sm-12.my-2
                        div.card-image
                            img(src="../images/smallerCycling.png", alt="Cycling").img-responsive
                    div.column.col-6.col-sm-12.my-2
                        div.col-3.col-sm-12
                            div.card-body
                                h6 Industry Type : Cycling
                                h6 Description:
                                h6 Plausible revenue:
                    div.column.col-3

