doctype html
html(lang="en")
    head

        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" type="text/css" href="../styles/spectre.min.css")
        link(rel="stylesheet" type="text/css" href="../styles/style.css")
        link(rel="stylesheet" type="text/css" href="../styles/spectre.icon.css")
        script(src="../scripts/business.js" defer)
        title #{ title }

    body.background
        div.container
            div.columns
                div.column.col-12
                    include includes/tabLExplore.pug
        div.container
            div.columns
                div.column.col-3
                div.column.col-6.col-sm-12
                    h3.exploreTitle Mercados explorable
                div.column.col-3
        div.container
            div.columns
                div.column.col-2
                div.column.col-8


                    div.card.my-2
                        div.columns.col-sm-12
                            div.column.col-3.col-sm-12
                                div.card-image
                                    img(src="../images/smallerCycling.png", alt="Cycling").img-responsive
                            div.column.col-9.col-sm-12
                                div.card-body
                                    h6 Tipo de industria: Ciclismo
                                    h6 Descripción: Consiga clientes ofreciéndoles una hermosa experiencia ciclista. Proporcione a los ciclistas los equipos y observe el flujo de efectivo, ya que se sabe que el ciclismo como atracción turística proporciona una gran cantidad de ingresos, por lo tanto, ¡por qué no comenzar hoy!
                                    p Ingresos estimados:
                                        b
                                         li Mecánica de bicicletas : 113555.60 Sol a year
                                        b
                                         li Minorista de bicicletas : 193423.01 Sol a year

                                div.card-footer
                                   button.btn.btn-primary See references



                    div.card.my-2
                        div.columns
                            div.column.col-3.col-sm-12
                                div.card-image
                                    img(src="../images/finaltrekking.jpg", alt="Trekking").img-responsive
                            div.column.col-9.col-sm-12
                                div.card-body
                                    h6 Tipo de industria: Trekking
                                    h6 Descripción: El trekking es una de las últimas tendencias turísticas del mundo. Involucre a los turistas permitiéndoles explorar la belleza del distrito y venderles equipos. Brinde una experiencia turística de calidad mientras gana dinero, ¡qué más podría ser mejor!
                                    h6 Ingresos estimados:
                                div.card-footer
                                    button.btn.btn-primary See references



                    div.card.my-2
                        div.columns
                            div.column.col-3.col-sm-12
                                div.card-image
                                    img(src="../images/birdwatching.jpg", alt="Bird watching").img-responsive
                            div.column.col-9.col-sm-12
                                div.card-body
                                    h6 Tipo de industria: observación de aves
                                    h6 Descripción: Con la cantidad de especies de aves increíbles en su área, ¿por qué no ganar dinero introduciendo la observación de aves donde los turistas pagan dinero para observar aves en su hábitat natural?
                                    h6 Ingresos estimados:
                                div.card-footer
                                    button.btn.btn-primary See references



                    div.card.my-2
                        div.columns
                            div.column.col-3.col-sm-12
                                div.card-image
                                    img(src="../images/editedKiteSurfing.jpg", alt="Kite surfing").img-responsive
                            div.column.col-9.col-sm-12
                                div.card-body
                                    p Tipo de industria:
                                     b  surf de vela
                                    p Descripción:
                                      b  El kitesurf es una actividad que permite al turista surfear a través de las olas al ser jalado con una cometa. Esta idea de turismo para hacer dinero puede generar una gran cantidad de dinero en efectivo vendiendo equipos y un estimado de 1000 a 2000 dólares cada mes por ser instructor.
                                    p Ingresos estimados:
                                        b
                                         li Instructora de cometas :  Mínima de 46740.00 Sol un año
                                         li Tienda de kitesurf:   Mínima de 701100.00 Sol un año

                                div.card-footer
                                    button.btn.btn-primary#modalbutton See references

                    div.modal#kitemodal
                        a.modal-overlay(aria-label="Close" href="#Close")
                        div.modal-container
                            div.modal-header
                                a(aria-label="Close" href="#close" class="btn btn-clear float-right")#closeid
                                div.modal-title.h5 References
                            div.modal-body
                               div.content
                                   li
                                        a(href="https://www.chickenloop.com/content/how-much-do-kitesurfing-instructors-earn").btn.btn-link Instructora de cometas referencia
                                   li
                                       a(href="https://www.atbshop.co.uk/kitesurfing-lei-kites/liquid-force-solo-v3-kitesurfing-kite?opt1=15.5m%20Kite%20Only&gclid=Cj0KCQjw8IaGBhCHARIsAGIRRYoQRlA7b3ChIrkYT7aPA_dOFjJqZ-_GSZaNZIaomyFBZn_Ih5JpuSMaArPxEALw_wcB").btn.btn-link Tienda de kitesurf

                    div.card.my-2
                        div.columns
                            div.column.col-3.col-sm-12
                                div.card-image.cardImageExplore
                                    img(src="../images/boatRiding.jpg", alt="Boat riding").img-responsive
                            div.column.col-9
                                div.card-body
                                    p Tipo de industria:
                                       b  Paseo en barco
                                    p Descripción:
                                        b  Con una tonelada de barcos atados en la ciudad, esta es la oportunidad perfecta para ganar mucho dinero iniciando un negocio de paseos en barco. ¡Ofrece paseos en barco turístico y cárgalos como mejor te parezca!
                                    p Ingresos estimados:

                                div.card-footer
                                    button.btn.btn-primary See references

                div.column.col-2


