doctype html
html(lang="en")
    head
        include includes/head.pug

    body.background
        header
            div.container
                div.columns
                    div.column.col-12
                        a(href="/")
                            img.logo1(src="../images/logo1.png", alt="Logo")
                        include includes/tabT


        div.move
            div.container
                div.columns
                    div.column.col-4.col-sm-12.my-2
                        div.card.hottestCard
                            div.card-image
                                img.img-responsive(src="../images/localBusiness.JPG", alt="Hottest")
                            div.card-header
                                div.card-title.h4 La Casona de Lobitos
                                div.card-subtitle.text-gray Explore
                            div.card-body
                                p Explore Attractions in Lobitos Explore Attractions in Lobitos Explore Attractions in Lobitos


                    div.column.col-4.col-sm-12.my-2
                        div.card.attractionCard
                            div.card-image
                                a(href='/attractions')
                                    img.img-responsive(src="../images/hotels.png", alt="Explore local business")
                            div.card-header
                                div.card-title.h4 Hotel Navego
                                div.card-subtitle.text-gray Explore
                            div.card-body
                                p Explore Attractions in Lobitos Explore Attractions in Lobitos Explore Attractions in Lobitos

                    div.column.col-4.col-sm-12.my-2
                        div.card.attractionCard
                            div.card-image
                                a(href='/attractions')
                                    img.img-responsive(src="../images/hotels.png", alt="Explore local business")
                            div.card-header
                                div.card-title.h4 Hotel Navego
                                div.card-subtitle.text-gray Explore
                            div.card-body
                                p Explore Attractions in Lobitos Explore Attractions in Lobitos Explore Attractions in Lobitos

                    div.column.col-4.col-sm-12.my-2
                        div.card.attractionCard
                            div.card-image
                                a(href='/attractions')
                                    img.img-responsive(src="../images/hotels.png", alt="Explore local business")
                            div.card-header
                                div.card-title.h4 Hotel Navego
                                div.card-subtitle.text-gray Explore
                            div.card-body
                                p Explore Attractions in Lobitos Explore Attractions in Lobitos Explore Attractions in Lobitos
                    div.column.col-4.col-sm-12.my-2
                        div.card.attractionCard
                            div.card-image
                                a(href='/attractions')
                                    img.img-responsive(src="../images/hotels.png", alt="Explore local business")
                            div.card-header
                                div.card-title.h4 Hotel Navego
                                div.card-subtitle.text-gray Explore
                            div.card-body
                                p Explore Attractions in Lobitos Explore Attractions in Lobitos Explore Attractions in Lobitos

                    div.column.col-4.col-sm-12.my-2
                        div.card.attractionCard
                            div.card-image
                                a(href='/attractions')
                                    img.img-responsive(src="../images/hotels.png", alt="Explore local business")
                            div.card-header
                                div.card-title.h4 Hotel Navego
                                div.card-subtitle.text-gray Explore
                            div.card-body
                                p Explore Attractions in Lobitos Explore Attractions in Lobitos Explore Attractions in Lobitos



