doctype html
html(lang="en")
    head
        include includes/head.pug

    body.backgroundimage

        div.hero
            div.hero-body
                div.container
                    div.columns
                        div.column.col-6
                            a(href="/")
                                img.logo1.img-responsive(src="../images/logo1.png", alt="Logo")

                        // google translator
                        div.column.col-6


                div.container
                    div.columns
                        div.column.col-12.text-center
                            h1 Welcome to Lobitos

                div.container
                    div.columns

                        // Hides the button when screen minimised

                        div.column.hide-sm.col-6.text-right.col-sm-12.my-2
                            a.tButton(href="/tourist") Tourists

                        div.column.hide-sm.col-6.text-left.col-sm-12.my-2
                            a.lButton(href="/localBusiness") Local Business


                        // Show the button when screen minimised

                        div.column.show-sm.text-center.col-6.col-sm-12.my-2
                            a.tButton(href="/tourist") Tourists

                        div.column.show-sm.text-center.col-6.col-sm-12.my-2.py-2
                            a.lButton(href="/localBusiness") Local Business
