doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" type="text/css" href="../styles/spectre.min.css")
        link(rel="stylesheet" type="text/css" href="../styles/style.css")
        link(rel="stylesheet" type="text/css" href="../styles/spectre.icon.css")
        title #{ title }

    header.navbar.py-2.px-2
            section.navbar-section.col-sm-12
                img(src="../images/logo1.png", alt="Logo").logo2.img-responsive
                a(href="/").btn.btn-link Home
            section.navbar-center.col-sm-12
                h3 Local Business
            section.navbar-section.col-sm-12
                include includes/spanish.pug




    body.background


        h1 Local Business

        form(action='/localBusiness/', method='post')
          label(for='OwnersName')  Owners Name:
          input#OwnersName(type='text', name='OwnersName')
          label(for='BusinessName')  Business Name:
          input#BusinessName(type='text', name='BusinessName')
          label(for='BusinessType')  Business Type:
          input#BusinessType(type='text', name='BusinessType')
          label(for='BusinessDesc')  Business Desc:
          input#BusinessDesc(type='text', name='BusinessDesc')
          input(type='submit', value='Submit')
