

//This page is the local business home page that contains all the cards to the various aspect of the local business
//This includes cards that gives a summary and takes you to the explore, upload and local business page.


doctype html

html(lang="en")
    head
        //This includes a file that has all the necessary links, scripts and metas for this page and all pages
        include includes/head.pug
        //Loads the main javascript for this page.
        script(src="../scripts/main.js" defer)

    body.background
        //This is the div of the page, upon first entry it is invisible and the passcode div is displayed.
        //When the accurate password is entered, then the user is able to see the main local business page.
        div.d-invisible#lbBody
            header.navbar.py-2.px-2
                section.navbar-section.col-sm-12
                    a(href="/")
                        img(src="../images/logo1.png", alt="Logo").logo1.img-responsive
                section.navbar-center
                    h3.text-center  Negocio local
                        sup
                            i.material-icons#localhelpicon(style = "font-size:1.0rem;") help
                //This modal is accessed when the help icon is clicked and displays a description of the local business page.
                div.modal#localhelpmodal
                    a.modal-overlay(aria-label="Close" href="#Close")
                    div.modal-container
                        div.modal-header
                            a(aria-label="Close" href="#close" class="btn btn-clear float-right")#closelocalhelp
                            div.modal-title.h5  Informaci贸n de la p谩gina 
                        div.modal-body
                            div.content
                                p
                                Cargue su negocio, vea todos los negocios en el distrito o lea sobre las nuevas empresas del mercado. Todo lo relacionado con los negocios en Lobitos a tu alcance

                section.navbar-section.col-sm-12
                    //Loads the google translate element for the page to enable translation from spanish to english.
                    include includes/spanish.pug

            div.container
                div.columns
                    div.column.col-1
                    div.column.col-10
                        div.container
                            div.columns
                                div.column.col-4.col-sm-12.my-2.py-2
                                    //Upload card that gives a brief description of the upload page and has a button link to the page.
                                    div.card.uploadCard
                                        div.card-image
                                            img(src="../images/biggerPromote.png", alt="Upload local business").img-responsive
                                        div.card-header
                                            div.card-title.h4 Sube tu negocio!
                                        div.card-body
                                            p1.localBusinessCardText Haga clic en el bot贸n de carga para exponer su negocio al turista local.
                                        div.card-footer
                                            a.button.btn.btn-primary.float-right(aria-label="Upload button", href="/upload") SOMETER
                                                i.icon.icon-upload


                                div.column.col-4.col-sm-12.my-2.py-2
                                    //Business card that gives a brief description of the business page and has a button link to the page.
                                    div.card.businessCard
                                        div.card-image
                                            img(src="../images/biggerBusiness.png", alt="Explore local business").img-responsive
                                        div.card-header
                                            div.card-title.h4 Explore su negocio local!
                                        div.card-body
                                            p1.localBusinessCardText  Haga clic en el bot贸n en la esquina superior derecha para ver otras empresas locales y ver rese帽as de turistas.
                                        div.card-footer
                                            a.button.btn.btn-primary.float-right(aria-label="Explore local business", href="/business") EXPLORA EL NEGOCIO LOCAL


                                div.column.col-4.col-sm-12.my-2.py-2
                                    //Explore card that gives a brief description of the explore page and has a button link to the page.
                                    div.card.exploreCard
                                        div.card-image
                                            img(src="../images/marketing.png", alt="Explore new markets").img-responsive
                                        div.card-header
                                            div.card-title.h4 Explorar nuevos mercados!
                                        div.card-body
                                            p1.localBusinessCardText  Haga clic en el bot贸n en la esquina superior derecha para obtener sugerencias de nuevos mercados que se pueden explorar.
                                        div.card-footer
                                            a.button.btn.btn-primary.float-right(aria-label="Explore new markets", href="/explore") EXPLORA EL NUEVO MERCADO

                    div.column.col-1.col-sm-12
                            button.btn.btn-action.s-circle#myBtn(onclick='topFunction()' title='Subir')
                                i.icon.icon-arrow-up

        //This is the passcode div that first appears upon first entry of the local business page.
        //Users must type the right passcode to be able to enter the local business page.
        div.container#passCodeDiv.centerPasccode
            div.columns
                div.col-4.col-sm-12
                div.col-4.col-sm-12
                    div.card.clearfix
                        div.columns
                            div.col-1.col-sm-12
                            div.col-10.col-sm-12
                                div.card-header
                                    div.card-title.h5 Ingrese su contrase帽a:
                                div.card-body
                                    input.form-input(type="password"  inputmode="numeric" id="passCode" placeholder="Contrase帽a" maxlength=4 minlength=4 autofocus)
                                    p Si tiene una empresa local, vaya a un cibercaf茅 cercano para obtener el c贸digo de acceso.

                                div.card-footer
                                    //This button takes as the home page of the entire website.
                                    a.btn(onclick="window.history.back()" aria-label="Go Back button").text-light Regresa


                            div.col-1.col-sm-12
                div.col-4.col-sm-12


