doctype html
html(lang="en")
    head
        include includes/head.pug

    body.background

        header.navbar.py-2.px-2
            section.navbar-section.col-sm-12
                a(href="/")
                    img(src="../images/logo1.png", alt="Logo").logo1.img-responsive
            section.navbar-center
                h3.text-center Tourists
            section.navbar-section.col-sm-12
                include includes/translator.pug


        div.container
            div.columns
                div.column.col-1
                div.column.col-10
                    div.container
                        div.columns
                            div.column.col-4.col-sm-12.my-2.py-2
                                div.card.hottestCard
                                    div.card-image
                                        a(href='/hottest')
                                            img.img-responsive(src="../images/localBusiness.jpg", alt="Hottest")
                                    div.card-header
                                        div.card-title.h4 Hottest
                                        div.card-subtitle.text-black Explore local businesses in Lobitos


                            div.column.col-4.col-sm-12.my-2.py-2
                                div.card.attractionCard
                                    div.card-image
                                        a(href='/attractions')
                                            img.img-responsive(src="../images/hotelss.jpg", alt="Explore local business")
                                    div.card-header
                                        div.card-title.h4 Attractions
                                        div.card-subtitle.text-black Explore Attractions in Lobitos


                            div.column.col-4.col-sm-12.my-2.py-2
                                div.card.hotelsCard
                                    div.card-image
                                        a(href='/hotels')
                                            img.img-responsive(src="../images/hotelss.jpg", alt="Explore new markets")
                                    div.card-header
                                        div.card-title.h4 Hotels
                                        div.card-subtitle.text-black Explore Hotels in Lobitos


                    div.container
                        div.columns
                            div.column.col-8.col-sm-12.my-2
                                div.card.spanishPhraseCard2
                                    div.card-header
                                        div.card-title.h3 Survival Spanish
                                            //Creating a search bar for users to search phrases that are not on the spanish phrase card

                                            section.navbar-section(class="searchBar")
                                                form(action="/tourist" method="get")
                                                    div.input-group.input-inline
                                                        input.form-input(type="text", placeholder="search phrases" name="search")
                                                        button.btn.btn-primary.input-group-btn
                                                            i.icon.icon-search
                                    div.card-body
                                        // creating table to add spanish and english phrases within the card-body
                                        table.table.table-striped
                                            thead
                                                tr
                                                    th Category
                                                    th English
                                                    th Spanish
                                            tbody
                                                each n in translations
                                                    tr
                                                        td=n.category
                                                        td=n.english
                                                        td=n.spanish

                            // Contacts Card with Important numbers

                            div.column.col-4.col-sm-12.my-2
                                div.card.contactsCard
                                    div.card-header
                                        div.card-title.h3 Contacts
                                    div.card-body
                                        table.table.table-striped
                                            thead
                                                tr
                                                    th Service
                                                    th Number
                                            tbody
                                                tr
                                                    td Country Code
                                                    td 51
                                                tr
                                                    td Police
                                                    td 51105
                                                tr
                                                    td Fire
                                                    td 51116
                                                tr
                                                    td Ambulance
                                                    td 51117
                                                tr
                                                    td Cap. FAP Víctor Montes Arias International Airport
                                                    td +51 (01) 513-3864.
                                                tr
                                                    td Taxi Services
                                                    td +51 980723924




                div.column.col-1
