doctype html
html(lang="en")
    head
        include includes/head.pug
        script(src="../scripts/main.js" defer)
        script(src="../scripts/localBusiness.js" defer)
        link(rel="stylesheet" type="text/css" href="../styles/mdtoast.min.css")
        script(type="text/javascript" src="../scripts/mdtoast.min.js")

    body.background
        div.container.my-2
            div.columns
                div.column.col-12
                    include includes/tabLUpload.pug
                    include includes/spanish.pug

        div.container
            div.columns
                div.column.col-2
                div.column.col-8.col-sm-12.exploreTitle
                    h3 Subir Negocio
                        sup
                            i.material-icons.c-hand#uploadhelpicon(style = "font-size:1.0rem;") help
                div.modal#uploadhelpmodal
                    a.modal-overlay(aria-label="Close" href="#Close")
                    div.modal-container
                        div.modal-header
                            a(aria-label="Close" href="#close" class="btn btn-clear float-right")#closeuploadhelp
                            div.modal-title.h5  Informaci칩n de la p치gina 游닂
                        div.modal-body
                            div.content
                                p Esta p치gina educa a las empresas locales sobre nuevas empresas de mercado que podr칤an beneficiarse con ellas, as칤 como evidencia para respaldar estas incre칤bles sugerencias.

                div.column.col-2

        div.container.my-2
            div.columns
                div.column.col-2.col-sm-12
                div.column.col-4.col-sm-12.my-2
                    form.form-horizontal(action="/upload" id="uploadForm" method="post" name="uploadForm" )
                        div.form-group
                            div.col-5.col-sm-12
                                label.form-label Nombre Del Due침o
                            div.col-7.col-sm-12
                                input.form-input(type="text" placeholder="Nombre Del Due침o" id="ownerName" name="ownersName" required)
                        div.form-group
                            div.col-5.col-sm-12
                                label.form-label Nombre del Negocio
                            div.col-7.col-sm-12
                                input.form-input(type="text" placeholder="Nombre del Negocio" id="businessName" name="businessName" required)
                        div.form-group
                            div.col-5.col-sm-12
                                label.form-label Tipo de negocio
                            div.col-7.col-sm-12
                                select.form-select(id="businessType", name="businessType")
                                    option Comidas y bebidas
                                    option Cosas para hacer
                                    option Servicios
                                    option Hoteles
                                    option Compras
                                    option Otra
                        div.form-group
                            div.col-5.col-sm-12
                                label.form-label Descripci칩n del Negocio
                            div.col-7.col-sm-12
                                textarea.form-input(id="businessDescription" placeholder=" Descripci칩n del negocio" minlength="50" rows="3" maxlength="175" name="businessDesc" required)
                        div.form-group
                            div.col-5.col-sm-12
                                label.form-label Localizaci칩n
                            div.col-7.col-sm-12
                                input.form-input(type="text" placeholder="Localizaci칩n" id="locationname" name="businessLoc" required)
                                p.form-input-hint El negocio debe estar en el distrito correcto.

                        div.form-group
                            div.col-5.col-sm-12
                                label.form-label Precio
                            div.col-7.col-sm-12
                                input.form-input(type="number" placeholder="Precio" id="businessP" name="businessPrice" required min="0")
                        div.form-group
                            div.col-3
                            div.column.col-6.col-sm-12
                                button.btn.text-light(aria-label="continue button")#continuebtn Continuar...
                            div.col-3


                div.col-4.col-sm-12.my-2
                    form.form-horizontal(action="/uploadImage" id="uploadImage" method="post" enctype="multipart/form-data" class="d-invisible"  )
                        div.column.col-12.col-sm-12.my-2
                            div.form-group.form2
                                div.card.moveuploadCard
                                    div.card-image
                                        input.form-input(type="file" name="uploadImage" required)
                                    div.card-header
                                        div.card-title.h3 Sube tu negocio!
                                    div.card-body
                                        p1 Mejore la imagen que mejor represente su negocio
                                        input.form-input(type="submit" value="Someter").btn

                div.column.col-2.col-sm-12
                        button.btn.btn-action.s-circle#myBtn(onclick='topFunction()' title='Subir')
                            i.icon.icon-arrow-up