doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" type="text/css" href="../styles/spectre.min.css")
        link(rel="stylesheet" type="text/css" href="../styles/style.css")
        link(rel="stylesheet" type="text/css" href="../styles/spectre.icon.css")
        title #{ title }

    body.background
        form.form-horizontal(action="/upload" id="uploadForm" method="post")
            div.container.my-2
                div.columns
                    div.column.col-12
                        include includes/tabLUpload.pug
                    div.column.col-2.col-sm-12
                    div.column.col-4.col-sm-12.my-2
                                div.form-group
                                    div.col-5.col-sm-12
                                        label.form-label Nombre Del Dueño
                                    div.col-7.col-sm-12
                                        input.form-input(type="text" placeholder="Nombre Del Dueño" id="ownerName" required)
                                div.form-group
                                    div.col-5.col-sm-12
                                        label.form-label Nombre del Negocio
                                    div.col-7.col-sm-12
                                        input.form-input(type="text" placeholder="Nombre del Negocio" id="businessName" required)
                                div.form-group
                                    div.col-5.col-sm-12
                                        label.form-label Tipo de negocio
                                    div.col-7.col-sm-12
                                        select.form-select#businessType
                                            option Comidas y bebidas
                                            option Cosas para hacer
                                            option Servicios
                                            option Hoteles
                                            option Compras
                                            option Otra
                                div.form-group
                                    div.col-5.col-sm-12
                                        label.form-label Descripción del Negocio
                                    div.col-7.col-sm-12
                                        textarea.form-input(id="businessDescription" placeholder="Business Description" rows="3" maxlength="175" required)
                                div.form-group
                                    div.col-3
                                    div.column.col-6.col-sm-12
                                        input.form-input(type="submit").btn
                                    div.col-3
                    div.column.col-4.col-sm-12.my-2
                        div.form-group.form
                            div.card.moveuploadCard
                                div.card-image
                                    input.form-input(type="file" required)
                                div.card-header
                                    div.card-title.h3 Sube tu negocio!
                                div.card-body
                                    p1 Upload an image that best represent your business.
                    div.column.col-2


