html{
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Home Page Style */

.logo1{
    top: 0;
    left: 1%;
    position: absolute;
    width: auto;
    height: 6rem;
}
@media screen and (max-width: 600px) {
    .logo1 {
        top: 0;
        left: 1%;
        position: absolute;
        width: auto;
        height: 3rem;
    }

    .reduceLocalBusinessButons{
        font-size: small;
    }
}
/* Catering to an extremely small screen with a max screen width of 300 px*/
@media screen and (max-width: 300px) {
    .logo1 {
        top: 0;
        left: 1%;
        position: absolute;
        width: auto;
        height: 3rem;
    }

    .reduceLocalBusinessButons{
        /*redcue the size of the buttons to fit the cards in the local business page */
        font-size: 0.45rem;
    }
}


.backgroundimage{
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
    height: auto;
    background-color: #cff4d2;

    /* Reference to background Image
    https://www.svgbackgrounds.com/#flat-mountains
    */

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%237be495' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23329d9c' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%2373de96' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%231c8e98' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%236bd896' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%230d7e92' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%2363d296' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%230d6f8a' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%235ccb96' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23175f7f' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%2356c596' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23205072' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

/* Home Page Heading */

h1{
    position: relative;
    top: 90%;
    font-family: Oswald, serif;
    font-size: 5vw;
    line-height: 100px;
    font-weight: 400;
    color: black;
    text-transform: uppercase;
    display: inline;
}

/* Tourist Button */

a.tButton{
    position: relative;
    top: 450%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border:0.16em solid black;
    color: black;
    padding: 15px 85px;
    text-decoration: none;
    display: inline;
    font-size: 1.6vw;
    text-transform: uppercase;
    border-radius: 40px;
    font-weight: 600;
    line-height: normal;
    background: none;
}
.tButton:hover {
    background: black;
    color: #cff4d2;
}

/* Local Business Button */

a.lButton{
    position: relative;
    top: 450%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border:0.16em solid black;
    background-color: black;
    color: #cff4d2;
    padding: 15px 75px;
    text-decoration: none;
    display: inline;
    font-size: 1.6vw;
    text-transform: uppercase;
    border-radius: 40px;
    font-weight: 600;
    line-height: normal;
}
.lButton:hover {
    background: none;
    border:0.16em solid black;
    color: black;
}

/* General All Pages */

/* Google Translator */

#google_translate_element {
    position: fixed;
    top: 0;
    right: 0;
}
.goog-te-gadget {
    text-transform: uppercase;
}
.goog-te-gadget-simple {
    background-color: rgba(255, 255, 255, 0.2) !important;
    border: 1px solid rgba(255, 255, 255, 0.5) !important;
    font-size: 0.8rem !important;
    display: inline-block;
    cursor: pointer;
}

.goog-te-menu-value {
    color: black !important;
}



/* Reference to background image
https://www.svgbackgrounds.com/#flat-mountains
*/

body.background{
    background-color: #f2f2f2;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%237be495' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23329d9c' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%2373de96' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%231c8e98' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%236bd896' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%230d7e92' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%2363d296' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%230d6f8a' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%235ccb96' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23175f7f' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%2356c596' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23205072' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}
h3{
    position: relative;
    font-family: Oswald, serif;
    font-size: 55px;
    line-height: 100px;
    font-weight: 400;
    color: black;
    display: inline;
    text-align: center;
}

/* Tabs Styling and Making the Tabs Scrollable when minimised */

ul{
    padding-top: 25px;
}
.tablist{
    padding: 0;
    margin-top: 3%;
    overflow-x: scroll;
    height: 3rem;
}
.tablist::-webkit-scrollbar {
    display: none;
}
.tablist > .inner {
    display: table;
    width: 100%;
    margin: 0;
    padding: 0;
}
.tab-item {
    box-sizing: border-box;
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    padding: 0 20px;
    text-align: center;
    height: 3rem;
    white-space: nowrap;
    color: #fff;
    cursor: pointer;
}

.tab{
    border-bottom: none;
    margin: 2%;
}
.tab .tab-item.active a {
    border-bottom-color: #329D9C;
    color: white;
    background-color: #329D9C;
    position: relative;
}
.tab .tab-item a {
    border-bottom: .1rem solid transparent;
    color: black;
    display: block;
    padding: .4rem .2rem .3rem .2rem;
    text-decoration: none;
    border-bottom-color: #329D9C;
    font-weight: bold;
}
.tab .tab-item a:hover {
    color: black;
    display: block;
    margin: 0 .4rem 0 0;
    padding: .4rem .2rem .3rem .2rem;
    text-decoration: none;
}

/* Go To The Top */

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 100;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #329D9C;
    color: white;
    cursor: pointer;
    padding: 15px;
    width: 70px;
    height: 70px;
}

#myBtn:hover {
    background-color: #555;
}

/* Local Business */

/* Password Style */

.centerPasccode {
    display: block;
    margin: 0 auto;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

/* Card Styles */
.uploadCard{
    height: auto;
    filter: drop-shadow(0px 4px 4px rgba(68, 177, 153, 0.498958));
    border-radius: 10px;
}
.businessCard{
    height: auto;
    filter: drop-shadow(0px 4px 4px rgba(68, 177, 153, 0.498958));
    border-radius: 10px;
}
.exploreCard{
    height: auto;
    filter: drop-shadow(0px 4px 4px rgba(68, 177, 153, 0.498958));
    border-radius: 10px;
}
.uploadImage{
    display: inline;
}

.card-title.h4{
    font-weight: bold;
}
.localBusinessCardText{
    color: black;
    font-size: medium;
}

/* Upload */

.moveuploadCard{
    left: 50%;
}

/* Business */

/* Explore */

.exploreTitle{
    text-align: center;
}
.cardImageExplore{
    width:100%;
}

/* Image Responsive */

.fillParentDiv{
    height: 100%;
    width: 100%;
}
.fillParentDivForImage{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Tourists */

/* Card Styles */

.hottestCard{
    height: auto;
    filter: drop-shadow(0px 4px 4px rgba(68, 177, 153, 0.498958));
    border-radius: 10px;
}
.attractionCard{
    height: auto;
    filter: drop-shadow(0px 4px 4px rgba(68, 177, 153, 0.498958));
    border-radius: 10px;
}
.hotelsCard{
    height: auto;
    filter: drop-shadow(0px 4px 4px rgba(68, 177, 153, 0.498958));
    border-radius: 10px;
}
.move.movePhraseCard{
    position: absolute;
    top: 67%;
    left: 20%;
    filter: drop-shadow(0px 4px 4px rgba(68, 177, 153, 0.498958));
}
.card.spanishPhraseCard2{
    height: auto;
    border-radius: 30px;
}
.contactsCard{
    height: auto;
    border-radius: 30px;
}
.searchBar{
    margin-top: 2%;
    float: right;
}

/* Hottest */

/* Attractions */

.btn.btn-primary {
    background: #329D9C;
    border-color: #329D9C;
    color: #fff;
}
.btn.btn-primary:hover {
    background: #329D9C;
    border-color: #329D9C;
    color: #fff;
}

/* Card Divider */

.vl {
    border-left: 3px solid #bbb;
    height: auto;
}
@media screen and (max-width: 840px) {
    .vl {
        border-left: none;
        border-top: 3px solid #bbb;
        padding-left: 0;
    }
}
.cols, .columns {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: 0;
    margin-right: 0;
}




/* Star Rating */

.star-rating{
    float: left;
    width: auto;
}
.star-rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.star-rating:not(:checked) > label {
    float: right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.star-rating:not(:checked) > label:before {
    content: '★ ';
}
.star-rating > input:checked ~ label {
    color: #329D9C;
}
.star-rating:not(:checked) > label:hover,
.star-rating:not(:checked) > label:hover ~ label {
    color: #329D9C;
}
.star-rating > input:checked + label:hover,
.star-rating > input:checked + label:hover ~ label,
.star-rating > input:checked ~ label:hover,
.star-rating > input:checked ~ label:hover ~ label,
.star-rating > label:hover ~ input:checked ~ label {
    color: #329D9C;
}

/* Hotels */

.btn{
    background: #329D9C;
    border-color: #329D9C;
}
.btn:hover {
    background: #329D9C;
    border-color: #329D9C;
    color: #ffffff;
}

/* Card Styles */

.hotelCard{
    height: auto;
    filter: drop-shadow(0px 4px 4px rgba(68, 177, 153, 0.498958));
    border-radius: 10px;
    cursor: pointer;
}